@using Microsoft.AspNet.Identity
@using SnackBar.Resx
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "Admin" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink(Resource.Hello.ToString() + User.Identity.GetUserName() + "!", "Index", "Manage", new { area = "Admin" }, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">@Resource.LogOff</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @if (!string.IsNullOrEmpty(Request.Cookies["PIN"]?.Value))
        {
            <li>
                <a href="@Url.Action("Index", "Cart", new { area = string.Empty })" title="@Resource.TapToCart">
                    @Resource.Cart <span class="badge" style="background-color:#7FC224">@Html.Action("Summary", "Cart", new { area = string.Empty })</span>
                </a>
            </li>
            <li>@Html.ActionLink(Resource.LogOff.ToString(), "LogOut", "User", new { area = string.Empty }, htmlAttributes: new { id = "loginLink" })</li>
        }
        else
        {
            <li>@Html.ActionLink(Resource.LogIn.ToString(), "Login", "Account", new { area = "Admin" }, htmlAttributes: new { id = "loginLink" })</li>
        }
    </ul>
}